body{
    font-size: 12px;
    background-color: rgb(247,247,247);
}





.reg{
    width: 860px;
    height: 670px;
    margin: 80px auto 0px;
    background-color: #fff;
    text-align: center;

    form{
        margin: 60px auto 100px;
        width: 360px;
        height: 248px;
        input[type="text"],input[type="password"]{
            width: 358px;
            height: 46px;
            margin-top: 15px;

            font-size: 16px;
            font-family: Arial;
            text-indent: 2em;
            border: 1px solid rgb(222, 223, 224);
        }
        p{  
            margin-top: 10px;
            font-size: 12px;
            text-align: left;
            color: #999;
        }
        .protocol{
            margin-top: 20px;
            height: 20px;
        }
        .check{
            width: 16px;
            height: 16px;
            border: 1px solid rgb(222, 223, 224);
            cursor: pointer;
            float: left;
            position: relative;
            margin-right: 10px;
            img{
                width: 14px;
                height: 10px;
                position: absolute;
                left: 1px;
                top: 3px;
                z-index: 10;
                margin: 0;
                display: none;
            }
            .show{
                display: block;
            }
        }
        .read{
            float: left;
            font-size: 14px;
            line-height: 18px;
        }
        button{
            width: 100%;
            line-height: 48px;
            margin-top: 20px;
            font-family: HYQiHei-EZS,microsoft yahei,Helvetica Neue,Helvetica,Tahoma,sans-serif;
            font-size: 17px;
            cursor: pointer;
            background-color: #418eff;
            color: #fff;
            &:hover{
                background-color: #456fff;

            }
        }
    }
    
    img{
        margin-top: 60px;
        width: 160px;
        height: 42px;
    }
    .title{
        margin-top: 30px;
        font-size: 22px;
    }
}



.foot{
    margin: 135px 0px 30px;
    text-align: center;

    .service{
        font-size: 12px;
        a{
            color: #666;
            margin-right: 30px;

        }
        a:hover{
            color: #456fff;

        }
        img{
            margin-right: 10px;
        }
    }
    .copyright{
        font-size: 12px;
        padding: 10px 0;
        color: #9d9d9d;
    }
}